*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    color: black;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}
ui{list-style: none}

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 20px 20px;
    box-shadow: 0 15px 30px rgba(90, 90, 90, 0.1);
    z-index: 100;
}
.nav{
    align-items: center;
    justify-content: center;
}
.nav a{
    margin: 0px 30px;
    color: #245f92;
    font-weight: 500;
    font-size: 16px;
    
}
.nav a:hover{
    color: #ffffff;
    font-weight: bold;
    background-color: #245f92;
    padding: 8px 20px;
    border-radius: 5px;
}
.logo img{
    width: 40px;
}
.re-btn{
    background-color: white;
    color: #245f92;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}
.re-btn:hover{
    text-decoration: underline;
    font-weight: bold;
}
.lo-btn{
    background-color: #245f92;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.lo-btn:hover{
    background-color: white;
    color: #245f92;
    font-weight: bold;
}
.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 30px;
    background: url(image/back-img2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home-container{
    max-width: 600px;
}
.home-container h1{
    font-size: 40px;
    margin-top: 80px;
}
.home-container p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
}
.home-container button{
    margin-top: 40px;
    cursor: pointer;
}
.read-btn{
    background-color: #3595ef;
    padding: 8px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none;
}
.read-btn:hover{
    background-color: white;
    color: #3595ef;
    border: 1px solid #3595ef;
}
.see-btn{
    margin-left: 20px;
    background-color: white;
    color: #3595ef;
    border: 1px solid #3595ef;
    border-radius: 5px;
    padding: 7px 20px;
}
.see-btn:hover{
    background-color: #3595ef;
    color: white;
}